<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723910537376-uj430fqcuf0o708fbt2gd4ko0l9ic8th.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723910537376-uj430fqcuf0o708fbt2gd4ko0l9ic8th</string>
	<key>API_KEY</key>
	<string>AIzaSyB1svBvkvVUoA3IQgFHMaERi5iy683qUaY</string>
	<key>GCM_SENDER_ID</key>
	<string>723910537376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iosdev.clonevideo</string>
	<key>PROJECT_ID</key>
	<string>videoclone-bits</string>
	<key>STORAGE_BUCKET</key>
	<string>videoclone-bits.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723910537376:ios:e1ef64b9b1c5bca17ad9c5</string>
</dict>
</plist>